@font-face {
    font-family: 'HanziPen SC';
    src: url('../assets/fonts/hanzipen-sc-regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'HanziPen SC';
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#beavers-logo{
    width: 850px;
    height: 350px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.beaver-name {
    color: white;
    font-size: 32px;
    position: absolute;
    white-space: nowrap;
    user-select: none;
    transition: transform 10s linear;
    cursor: pointer;
}